<section>
  <div class="profile-container">
    <button class="rounded-full font-extrabold font-2xl" (click)="dropdownPopoverShow = !dropdownPopoverShow">
      {{modelProfile.profileName}}
    </button>
    <div class="relative" [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'">
      <div class="profile-menu fixed rounded-lg">
        <button *ngFor="let profile of profiles" class="rounded-full font-extrabold font-2xl" (click)="modelProfile = profile; setModel(); dropdownPopoverShow =  false;">
          {{profile.profileName}}
        </button>
      </div>
    </div>
  </div>

  <div class="action-container">
    <button class="rounded-full font-extrabold font-2xl" (click)="toggleStart()">
        {{started ? 'Pause' : 'Start'}}
    </button>

    <button class="rounded-full font-extrabold font-2xl" (click)="started = false; automaton.reset()">
      Reset
    </button>
  </div>

  <div class="info-container">
    <span class="font-extrabold	font-2xl">
      Generation: {{automaton.generationCount === 0 ? '-' : automaton.generationCount}}
    </span>
  </div>

  <div class="grid-container">
    <div class="row" *ngFor="let row of automaton.displayedGrid">
      <div *ngFor="let cell of row" class="cell"
        [class.live]="cell.state === cellState.Live"
        [class.dead]="cell.state === cellState.Dead"
        [class.empty]="cell.state === cellState.Empty"
        [class.burning]="cell.state === cellState.Burning"
        [class.tree]="cell.state === cellState.Tree"
        [class.susceptible]="cell.state === cellState.Susceptible"
        [class.infected]="cell.state === cellState.Infected"
        [class.removed]="cell.state === cellState.Removed"
        [class.latent]="cell.state === cellState.Latent">
      </div>
    </div>
  </div>
</section>