/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #1f293a;
    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 18px;
    color: #70c6ff;
}

button {
    margin: 0 .8rem;
    background-color: #1f293a;
    padding: .2rem 2rem .1rem;
    border: .1rem solid #70c6ff;
    min-width: 8rem;

    &:hover {
        background-color: #2e3645;
    }
}